.container {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 500px;
    height: 700px;
    border-style: solid;
    border-radius: 10px;
    background-color: gray;
}